/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: Inter, sans-serif;
  --fantasy-font-family: "Press Start 2P", fantasy;
  --heart-color: #ff0000;
  --background-page: #fff;
  --background-color: #d3d3d3;
  --background-color-start: #e7e7e7;
  --background-color-end: #1a1a1a;
  --header-background: var(--background-page);
  --title-font-weight: "wght" 700;
  --text-font-weight: "wght" 400;
  --text-color: #000;
  --mix-blend-color: var(--background-page);
  --stroke-color: var(--text-color);
  --label-stroke-color: var(--background-page);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-page: #000;
    --background-color: var(--background-page);
    --background-color-start: #007f0c;
    --background-color-end: #004306;
    --header-background: var(--background-page);
    --title-font-weight: "wght" 785;
    --text-font-weight: "wght" 465;
    --text-color: #00cc14;
    --mix-blend-color: var(--text-color);
    --stroke-color: var(--text-color);
    --label-stroke-color: var(--background-page);
  }
}
